@font-face {
    font-family: 'MvJadheedh';
    src: url('https://rawcdn.githack.com/threshel/fonts/79a8f9566d3a8fee14999fb0ff705774b585282e/MvJadheedh.woff2') format('woff2'),
        url('https://rawcdn.githack.com/threshel/fonts/79a8f9566d3a8fee14999fb0ff705774b585282e/MvJadheedh.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
